.BusinessList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 7% 10%;
  }

  /* Reusable Component - Image Container */


.image-container img a {
background-color: red;

 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
}