/* Universal Styles */

body {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

/* App Styles */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  background-color: #223E4A;  
}

.hero h1 {
  font-size: 119px;
  font-weight: bold;
  color: #1BDFB0;
  background: -webkit-linear-gradient(#27EF99, #0EBDD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero img {
  height: 90px;
}

@media (max-width: 1199.98px) { 

  .hero h1 {
    font-size: 80px;
  }
  
  .hero img {
    height: 60px;
  }
 }
